// Colors
$clr1: #262146;
$clr2: rgba(90, 90, 137, 1);
$clr3: rgba(0, 88, 185, 1);
$clr4: rgba(217, 219, 233, 1);
$clr5: rgba(243, 243, 255, 1);
$clr6: rgba(248, 248, 255, 1);
// $clr3: #495E57;
// $clr4: #45474B;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
