@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  background-color: #f8f8ff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.sep {
  border-bottom: 1px solid #d9dbe9;
  margin-top: 20px;
  margin-bottom: 8px;
}

#observer-element{
  width: 2px;
  height: 2px;
}

/* Track */
/* Track for horizontal scrollbar */
::-webkit-scrollbar {
  height: 6px; /* Adjust the height as needed */
  width: 6px;
}

/* Handle for horizontal scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Change the color as desired */
  border-radius: 6px; /* Make it round */
}

/* Handle on hover for horizontal scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* Change the color on hover */
}

/* Track for horizontal scrollbar when it's at the bottom */
::-webkit-scrollbar-track-piece:horizontal:end {
  background-color: transparent; /* Change the color if needed */
}

/* Track for horizontal scrollbar when it's at the top */
::-webkit-scrollbar-track-piece:horizontal:start {
  background-color: transparent; /* Change the color if needed */
}


