.app-header {
  background-color: $clr1;
  height: 74px;
  color: white;
  display: flex;
  align-items: center;
  position: relative;

  .app-header-container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .logo {
    position: absolute;
    left: 20px;
  }
}
