// Your existing styles

.news-filter-input {
  position: relative;
  display: inline-block;

  .radio-open {
    background: white;
    max-height: 126px;
    width: 175px;
    overflow-y: auto;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    z-index: 1;

    font-family: "Mulish", sans-serif;
    color: rgba(90, 90, 137, 1);

    .radio-select-option {
      width: 189px;
      height: 28px;
      display: flex;
      align-items: center;
      &:hover {
        background: rgba(223, 224, 235, 0.41);
      }
    }

    label {
      font-size: 12px;
      width: 100%;
      padding: 1em;
      &:hover {
      }
    }
  }

  .input-title {
    appearance: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: #ffffff;
    height: 47px;
    width: 175px;
    max-width: 175px;
    color: #333;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-inline-start: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;

    background-image: url("../../imgs/dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 14px 14px;

    &:hover {
      border-color: #888;
    }

    &:focus {
      outline: none;
      border-color: #555;
    }
  }
}

input[type="radio"] {
  display: none;
}
