.news-preview {
  border: 1px solid #d9dbe9;
  background-color: white;
  display: flex;
  gap: 0.5em;
  border-radius: 20px;
  height: 242px;
  .news-image {
    max-width: 244px;
  }

  .article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .news-info {
    padding: 0 8px 0 8px;
    flex-direction: column;
    width: 100%;
    position: relative;
    display: flex;
    gap: 14px;

    h4 {
      font-size: 18px;
      padding-right: 30%;
    }

    .news-desc {
      font-size: 14px;
      color: rgba(90, 90, 137, 1);
    }
    .published-at,
    .news-source {
      font-size: 14px;
      color: rgba(90, 90, 137, 0.5);
    }

    .published-at {
      padding-top: 1em;
    }

    .news-cta {
      align-self: self-end;
      background: rgba(0, 88, 185, 1);
      color: white;
      border: none;
      border-radius: 2em;
      font-family: Roboto;
      font-size: 14px;
      padding: 0.5em 2em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      transition: box-shadow 0.2s;
      position: absolute;
      right: 14px;
      bottom: 16px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .cta-arrow {
      display: flex;

      svg {
        transform: rotate(180deg);
      }
    }
  }
}
