// SearchBar.scss

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  width: 423px;
  max-width: 423px;
  height: 50px;
  align-self: center;
  padding-inline: 0.5em;

  .search-container {
    display: flex;
    gap: 0.5em;
  }

  .search-icon {
    padding-left: 0.5em;
  }

  svg {
    width: 24px;
    height: 25px;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
  }

  .dropdown-container {
    position: relative;

    .dropdown-trigger {
      display: flex;
      align-items: center;
      color: darkslategray;
      background: white;
      padding: 8px;
      height: 100%;
      cursor: pointer;
      border-left: 1px solid #d9dbe9;
      outline: none;

      .selected-option {
        margin-right: 8px;
        color: $clr2;
        font-weight: 500;
      }

      .dropdown-icon {
        transition: transform 0.3s ease-in-out;
      }
    }

    .dropdown-options {
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: none;
      background: white;
      color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 0.5em;
      box-shadow: 0px 4px 12px 0px #00000014;
      z-index: 1;
      border-radius: 15px;

      li {
        cursor: pointer;
        padding: 10px;
        transition: background 0.3s ease-in-out;
        width: 100%;
        color: #5a5a89;

        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }
}
